@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-mini-8: 14.8px;
  --font-size-sm-9: 13.9px;
  --font-size-mini-4: 14.4px;
  --font-size-sm-8: 13.8px;
  --font-size-sm-6: 13.6px;
  --font-size-lg: 18px;
  --font-size-mini-6: 14.6px;
  --font-size-mini: 15px;
  --font-size-sm-1: 13.1px;
  --font-size-smi-8: 12.8px;
  --font-size-smi-9: 12.9px;
  --font-size-smi-7: 12.7px;
  --font-size-mini-9: 14.9px;
  --font-size-base: 16px;
  --font-size-smi-1: 12.1px;
  --font-size-3xs: 10px;
  --font-size-3xs-4: 9.4px;
  --font-size-3xs-2: 9.2px;

  /* Colors */
  --futabusvn-nero: #fff;
  --futabusvn-athens-gray: #f3f3f5;
  --futabusvn-athens-gray1: #e5e7eb;
  --futabusvn-geyser: #dde2e8;
  --futabusvn-alto: #d9d9d9;
  --futabusvn-iron: #d5d9dd;
  --futabusvn-flamingo: #ef5222;
  --futabusvn-pale-sky: #637280;
  --futabusvn-cod-gray: #111;
  --futabusvn-black-85: rgba(0, 0, 0, 0.85);
  --futabusvn-black-10: rgba(0, 0, 0, 0.1);
  --futabusvn-black: #000;
  --futabusvn-fun-green: #00613d;
  --futabusvn-jaffa: #f2754e;
  --futabusvn-loblolly: #c0c6cc;
  --futabusvn-flamingo1: #ef4444;
  --futabusvn-alizarin-crimson: #e12424;
  --futabusvn-bridesmaid: #fdede8;
  --futabusvn-chartreuse-yellow: #def3ff;
  --futabusvn-malibu: #60a5fa;
  --futabusvn-dodger-blue: #339af4;
  --futabusvn-gray-chateau: #a2abb3;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-5xs: 8px;
  --gap-base: 16px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-369xl: 388px;
  --padding-13xl: 32px;
  --padding-12xs-5: 0.5px;
  --padding-11xs: 2px;
  --padding-12xs: 1px;
  --padding-5xl: 24px;
  --padding-8xs: 5px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-6xs: 7px;
  --padding-7xs: 6px;
  --padding-mid: 17px;
  --padding-base: 16px;
  --padding-7xs-6: 5.6px;
  --padding-7xs-2: 5.2px;
  --padding-11xs-6: 1.6px;
  --padding-10xs: 3px;
  --padding-xl: 20px;
  --padding-121xl: 140px;

  /* Border radiuses */
  --br-xs: 12px;
  --br-13xl: 32px;
  --br-5xs: 8px;
  --br-base: 16px;
  --br-9xs: 4px;
}
